/* Header */
.header {
  background-color: #fff;
  height: 8rem;
  padding: 2rem 0 3rem 0;
}
.header-logo-box svg {
  width: 14rem;
  height: 3rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav-list {
  gap: 1.7rem;
  list-style: none;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  display: inline-block;
  padding: 0 1rem;
  transition: all 0.2s;
}
.main-nav-link:hover,
.main-nav-link:active {
  /* trick */
  box-shadow: 0px 3.7rem 0 -6px var(--lime-Green);
}

/* Section hero */

.section-hero {
  background-color: #fff;
}
.hero {
  grid-template-columns: 40fr 60fr;
  /* max-width: 127.8rem; */
  padding: 0;
  padding-left: 3rem;
  margin: 0;
  margin-left: auto;
  align-items: center;
  gap: 2rem;
}
.hero-img-box {
  background: url("../images/bg-intro-desktop.svg");
  background-size: 122% 117%;
  background-repeat: no-repeat;
  background-position: 20% 231%;
  margin-bottom: -29rem;
  overflow: hidden;
}
.hero-img {
  width: 100%;
  transform: translate(10rem, -12rem);
}

/* /////////////////////////////// */
/* Section Feature */
/* /////////////////////////////// */
.section-features {
  padding: 10rem 0;
}
.features-header {
  max-width: 61rem;
  margin-bottom: 7.5rem;
}
.heading-secondary {
  font-size: 4rem;
  margin-bottom: 3.5rem;
}
.features-content .grid {
  gap: 2rem;
}

.feature-column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.feature-icon svg {
  width: 8rem;
  height: 8rem;
}

.heading-tertiary {
  font-size: 2rem;
}
.features-content p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: -1rem;
}

/* /////////////////////////////// */
/* Section Cards */
/* /////////////////////////////// */
.section-card {
  background-color: var(--vl-gray);
  padding: 9.5rem 0 8rem 0;
}
.cards .grid {
  gap: 3rem;
}
.card {
  /* width: 25rem; */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  background-color: var(--white);
}

.card img {
  width: 100%;
  height: 19.4rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-content {
  margin-top: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.card-content span {
  display: inline-block;
  color: var(--grayish-blue);
}
h4 {
  font-size: 1.6rem;
}

.card-content .description {
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 0;
}

/* /////////////////////////////// */
/* Footer */
/* /////////////////////////////// */
.footer {
  background-color: var(--dk-blue);
  padding: 4rem 0 5rem 0;
}
.footer-column {
  gap: 2rem;
}
.footer-column:last-child {
  align-items: flex-end;
}
.footer-column svg {
  width: 15rem;
  height: 3rem;
}
#logo {
  fill: var(--white);
}
.footer-icon-list {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}
.icon svg {
  width: 2.3rem;
}
.icon:hover {
  fill: var(--grayish-blue);
  cursor: pointer;
}
.footer-nav-list {
  gap: 1.6rem;
  list-style: none;
}
.footer-nav-link:link,
.footer-nav-link:visited {
  text-decoration: none;
  color: var(--white);
  font-size: 1.6rem;
  transition: all 0.3s;
}
.footer-nav-link:hover,
.footer-nav-link:active {
  color: var(--grayish-blue);
}
.copyright {
  color: var(--vl-gray);
  color: var(--grayish-blue);
  font-size: 1.5rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 5rem;
  color: var(--grayish-blue);
}

.attribution a {
  color: var(--grayish-blue);
}

.attribution a:last-child {
  color: #fff;
  font-size: 1.6rem;
  margin-left: 1rem;
}
